@if (selectedCount() > 0) {
  <div class="selection-bar">
    <span class="sel-count">
      <span class="sel-badge">{{ selectedCount() }}</span>
      {{ selectedCount() === 1 ? 'file' : 'files' }} selected
    </span>

    <div class="sel-actions">
      @if (hasAction('download')) {
        <button class="sel-btn" (click)="downloadAll.emit()" title="Download selected">
          <span class="material-symbols-rounded">download</span>
          @if (selectedCount() == 1) {
            Download
          } @else {
            Download all
          }
        </button>
      }

      @if (hasAction('star')) {
        <button class="sel-btn" (click)="starAll.emit()" title="Star all">
          <span class="material-symbols-rounded">star</span>
            @if (selectedCount() == 1) {
              Star
            } @else {
              Star all
            }
        </button>
      }

      @if (hasAction('trash') || hasAction('restore') || hasAction('deleteForever')) {
        <div class="sel-divider"></div>
      }

      @if (hasAction('restore')) {
        <button class="sel-btn restore" (click)="restoreAll.emit()">
          <span class="material-symbols-rounded">restore_from_trash</span>
          @if (selectedCount() == 1) {
            Restore
          } @else {
            Restore all
          }
        </button>
      }
      @if (hasAction('trash')) {
        <button class="sel-btn danger" (click)="trashAll.emit()">
          <span class="material-symbols-rounded">delete</span>
          Move to trash
        </button>
      }
      @if (hasAction('deleteForever')) {
        <button class="sel-btn danger" (click)="deleteForeverAll.emit()">
          <span class="material-symbols-rounded">delete_forever</span>
          Delete forever
        </button>
      }
    </div>

    <button class="sel-clear" (click)="clearSelection.emit()">
      <span class="material-symbols-rounded">close</span>
      Clear
    </button>
  </div>
}
