* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #2D3250 transparent;
}

html, body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2D3250;
  border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3A3F5C;
}
